#slide{
  background-image: url("media/slide.jpeg");
  background-size: 100% 100%;
}
.hello{
  /*background-color: black;*/
}
.dropdown-item{
  color: black;
}
#itm{
  color: black;
}
.price{
  display: flex;
}
.price_new{
  color: orange;
   margin-left: 25px;
}
.btn{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-left: 5px;
}
.cols{
  width: 100%;
}
.cps{
  margin-bottom: 5%;
}
.vert{
  display: flex;
}
.card_btn{
  display: flex;
  margin-left: -5px;
}
.abt{
  margin-left: 1vmax;
}
.btn:hover{
background-color: orange;
color: white;
}
.header{
}
.tocenter{
  margin-bottom: 15%;
}
.main{
  margin-left: 5%;
}
#main{
  width: auto;
  padding: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
}
body{
  background-color: #e6e6e6;
  /*max-width: 100%;*/
}
.column {
  flex: 20%;
}
.vm{
  margin-right: 5%;
}
hr.rounded {
  border-top: 8px solid #bbb;
  border-radius: 5px;
  color: orange;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: black;
}
.icons{
  display: flex;
  height: 8vmax;
}
.sale{

  text-align: center;
  background-color: white;
  border-radius: 15px;
  width: 100%;

  }
  .card{
    margin: 0;
  }
  .txet{
    margin-top: 5%;
    padding: 10px;
    font-size: 1vmax;
  }

  .best{
  text-align: center;
  background-color: white;
  border-radius: 15px;
  margin-left: 10%;
  width: 100%;

  }
  .dost{
  text-align: center;
  background-color: white;
  border-radius: 15px;
  margin-left: 10%;
  width: 100%;

  }
  .orange{
    background-color: orange;
    border-radius: 100px;
    width: 25px;
    height: 25px;
  }
  .mxwidt{
      width: 400px;
  }



.serts{
  /*padding: 5px;/*/
  /*margin-left: 1%;*/
  /*margin-bottom: 5%;*/
}
.example-image-link{
  margin-left: 5%;
  margin-top: 5%;

}
.top_margin{
  margin-top: 15%;
}
.margin-top{
  margin-top: 20%;
}

.marks{
  margin-top: 5%;
  margin-left: 25%;
  display: flex;
  flex-wrap: wrap;

}
.itms{
  margin-right: 10%;
}
.contract{
  background-color: white;
  text-align: center;
  margin: 1% 10% 1% 10%;
  padding: 20px;
}
.call{
box-shadow: 0 0 10px rgba(0, 0, 0, 1.0);
  margin: 1%;
padding: 20px;
font-size: 25px;
}
.countBask{
  border-radius: 100px;
  background-color: red;
  margin-left: 25px;
  width: 25px;
  text-align: center;
}
.basket{
max-height: 40px;
}








@media(max-width:  1180px){
  .price_new{
    display: flex;
    justify-content: flex-end;
  }
  .price{
    display: flex;
    justify-content: flex-end;
  }
  .old_price{
    display: none;
  }
}
@media( max-width:  755px){
  .marks{
    margin-left: 15%;
  }
}
@media (max-width: 620px){
  #main{
    display: none;
  }
@media (max-width: 500px){
  .icons{
    display: inline;
  }
}
@media(max-width: 270px){
  .certs img{
    width: calc(270px--120px);
  }
}
  .certs img{
    width: 100px;
  }
@media(max-width: 250px){
  .header{
    position: fixed;
  }
  
}
.far{
  color: red!important;
}

}
@media (max-width:  820px){
  #main{
    margin-left: 1%;
    width: 190px;
  }
  .best,.sale,.dost{
    margin-left: 1%;
    margin-bottom: 1%;
  }
  .txet{
    margin-top: 1%;
  }
}




